
ul {
    background-color:  rgb(0, 110, 199);
    border-radius: 5px;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    color: white;
    padding-right: 15px;
}

input[type="checkbox"]:hover {
    cursor: pointer;
    transform: scale(1.2);
}

form {
    padding-bottom: 25px;
}

main{
    padding: 15px;
}

mat-divider {
    margin: 10px 0;
    color: #ff0000;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}

#server-status {
    margin-right: 15px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
}